<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ShellDirectory" value="c:\Program Files\IronScheme"/>
    <add key="ShellExecutable" value="IronScheme.Console.exe"/>
    <add key="ShellArguments" value="/nologo -notabcompletion"/>
  </appSettings>
</configuration>