<?xml version="1.0" ?>
<configuration>

<!--
<startup>
  <supportedRuntime version="v2.0.50727" safemode="true"/>
  <requiredRuntime version="v2.0.50727" safemode="true"/>
</startup>
-->

<!--
<runtime>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

    <publisherPolicy apply="no"/>

    <dependentAssembly>
      <assemblyIdentity name="xacc" publicKeyToken="2bc3179f551c6d8f" culture="neutral">
        <bindingRedirect oldVersion="0.1.0.0-0.1.0.65535" newVersion="0.1.0.3" />
      </assemblyIdentity>
    </dependentAssembly>  

    <dependentAssembly>
      <assemblyIdentity name="xacc.lexers"  publicKeyToken="2bc3179f551c6d8f" culture="neutral">
        <bindingRedirect oldVersion="0.1.0.0-0.1.0.65535" newVersion="0.1.0.3" />
      </assemblyIdentity>
    </dependentAssembly>  

    <dependentAssembly>
      <assemblyIdentity name="xacc.parsers"  publicKeyToken="2bc3179f551c6d8f" culture="neutral">
        <bindingRedirect oldVersion="0.1.0.0-0.1.0.65535" newVersion="0.1.0.3" />
      </assemblyIdentity>
    </dependentAssembly>  

    <dependentAssembly>
      <assemblyIdentity name="xacc.extras"  publicKeyToken="2bc3179f551c6d8f" culture="neutral">
        <bindingRedirect oldVersion="0.1.0.0-0.1.0.65535" newVersion="0.1.0.3" />
      </assemblyIdentity>
    </dependentAssembly>

  </assemblyBinding>
</runtime>
-->

<!--
<system.windows.forms jitDebugging="true" /> 
-->

</configuration>
